:root{
    --primaryColor:#808080;
    --primaryText:#ffff;
    --primaryTextHover:#A4B1C6;
    --hoverAndFocus:#121212;
    --box-shadow:0 0 0 0.25rem rgb(18 18 18 / 25%);
    --alert-color:#FF0000;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header, .header-login{
    padding: 10px;
}

.header{
    padding: 0;
    padding-right: 10px;
}

.header-text{
    display: inline-block;
}

.header-login-text{
    color: #0d6efd;
}

.form-login{
    width: 400px;
    margin: auto;
    padding: 20px;
}


.row2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.selected-rol{
    pointer-events: none;
    background: #373737;
}

.btn-logout, .btn-edit-user{
    color: var(--primaryText);
}

.btn-logout, .btn-edit-user{
    margin-left: 10px;
}

.btn-logout:hover, .btn-edit-user:hover{
    color: var(--hoverAndFocus);
}

.form-two-columns{
    margin-top: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.label-alert{
    /* display: none; */
    color: var(--alert-color);
}

label{
    display: block;
}

.alert-dialog-login, .alert-dialog-carrepeat, .alert-dialog-error-regcar{
    display: none;
    align-items: center;
    justify-content: space-between;
}

.btn-close-alert{
    font-size: 12px;
    color: var(--alert-color);
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
